<!doctype html>
{% load static %}


<link rel="stylesheet" href="{% static 'app/css/index_style.css' %}">
<div class="app-container">
    {% include "app/header.html" %}


    <div class="app-content">


        <div class="projects-section">
            <div class="projects-section-header">
                <p>Ваши заявки</p>

            </div>
            <div class="projects-section-line">
                <div class="projects-status" id="status-filter">
                    <a onclick="filterIncidents('Открыто')" class="item-status">
                        <span class="status-number">{{count_open}}</span>
                        <span class="status-type">Открыто</span>
                    </a>
                    <a onclick="filterIncidents('Закрыто')" class="item-status">

                        <span class="status-number">{{count_closed}}</span>
                        <span class="status-type">Закрыто</span>
                    </a>
                    <a onclick="filterIncidents('Всего')" class="item-status active">
                        <span class="status-number">{{count_all}}</span>
                        <span class="status-type">Всего заявок</span>
                    </a>
                </div>

            </div>
            <div class="project-boxes jsListView">


                {% for incident in incidents  %}


                <div class="project-box-wrapper">
                    <div class="project-box" style="background-color: #fee4cb;">
                        <div class="project-box-header">
                            <span>{{incident.date}}</span>
                            <div class="more-wrapper">
                                <button class="project-btn-more">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="project-box-content-header">
                            <a href="{% url 'Open_Ticket' ticket_uuid=incident.linkUuid %}" class="box-content-header">{{incident.number}}</a>
                            <p class="box-content-subheader">{{incident.state}}</p>
                        </div>
                        <div class="box-progress-wrapper">
                            <p class="box-progress-header">{{incident.topic}}</p>
                            <div class="box-progress-bar">
                                <span class="box-progress" style="width: 100%; background-color: #ff942e"></span>
                            </div>

                        </div>
                    </div>
                </div>

                {% endfor %}



            </div>

            <script>


                function filterIncidents(state, el) {
                    fetch(`/filter-incidents/?state=${state}`)
                        .then(response => response.text())
                        .then(html => {

                            document.querySelector(".jsListView").innerHTML = html;

                            // Удаляем "active" у всех
                            document.querySelectorAll(".item-status").forEach(btn => {
                                if (btn.textContent.includes(state)) {
                                    btn.classList.add("active");
                                } else {
                                    btn.classList.remove("active");
                                }
                            });






                        });
                }
            </script>

        </div>
        <div class="messages-section">
            <button class="messages-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="15" y1="9" x2="9" y2="15"></line>
                    <line x1="9" y1="9" x2="15" y2="15"></line>
                </svg>
            </button>
            <div class="projects-section-header">
                <p>Объявления</p>
            </div>
            <div class="messages">
                <div class="message-box">

                    <div class="message-content">
                        <div class="message-header">
                            <div class="name">Сервис VPN - проблема с доступностью на провайдере МГТС(МТС) </div>

                        </div>
                        <p class="message-line">
                            Коллеги, привет!
                            Сегодня наблюдались проблемы с доступностью сервиса VPN  у части пользователей на провайдере МГТС(МТС)
                            Примерный интервал времени с 10:00 -10:40, перешли на резервную схему, работоспособность восстановлена.
                            Создали обращение к поставщику услуг связи, ожидаем диагностику с их стороны.

                            Приносим извинения за доставленные неудобства.
                        </p>
                        <p class="message-line">18.04.2025 11:38</p>

















                    </div>
                </div>
                <div class="message-box">

                    <div class="message-content">
                        <div class="message-header">
                            <div class="name">Работы в Kaiten, сервисах Jira, Confluence.</div>

                        </div>
                        <p class="message-line">
                            Добрый день!

                            Коллеги, обращаем ваше внимание, что сегодня будут проводиться работы в системе Kaiten, и на веб сервисах Jira, Confluence.
                            Время: с 19.00 до 21.00, с перерывом в 10 мин, 2 раза.
                        </p>
                        <p class="message-line">16.04.2025 17:50</p>
                    </div>
                </div>




                <div></div>
            </div>


        </div>
    </div>
</div>


<!-- Подключение JavaScript -->
<script src="{% static 'app/js/index_script.js' %}"></script>

