<!doctype html>
{% load static %}


<link rel="stylesheet" href="{% static 'app/css/index_style.css' %}">
<div class="app-container">
    {% include "app/header.html" with theme=user.preferredTheme %}


    <div class="app-content">


        <div class="projects-section">
            <div class="projects-section-header">
                <p>Ваши заявки</p>

            </div>
            <div class="projects-section-line">
                <div class="projects-status" id="status-filter">
                    <a onclick="filterIncidents('Открыто')" class="item-status">
                        <span class="status-number">{{count_open}}</span>
                        <span class="status-type">Открыто</span>
                    </a>
                    <a onclick="filterIncidents('Закрыто')" class="item-status">

                        <span class="status-number">{{count_closed}}</span>
                        <span class="status-type">Закрыто</span>
                    </a>
                    <a onclick="filterIncidents('Всего')" class="item-status active">
                        <span class="status-number">{{count_all}}</span>
                        <span class="status-type">Всего заявок</span>
                    </a>
                </div>

            </div>
            <div class="project-boxes jsListView">


                {% for incident in incidents  %}


                <div class="project-box-wrapper">
                    <div class="project-box" style="background-color: #fee4cb;">
                        <div class="project-box-header">
                            <span>{{incident.date}}</span>
                            <div class="more-wrapper">
                                <button class="project-btn-more">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="project-box-content-header">
                            <a href="{% url 'Open_Ticket' ticket_uuid=incident.linkUuid %}" class="box-content-header">{{incident.number}}</a>
                            <p class="box-content-subheader">{{incident.state}}</p>
                        </div>
                        <div class="box-progress-wrapper">
                            <p class="box-progress-header">{{incident.topic}}</p>
                            <div class="box-progress-bar">
                                <span class="box-progress" style="width: 100%; background-color: #ff942e"></span>
                            </div>

                        </div>
                    </div>
                </div>

                {% endfor %}



            </div>

            <script>


                function filterIncidents(state, el) {
                    fetch(`/filter-incidents/?state=${state}`)
                        .then(response => response.text())
                        .then(html => {

                            document.querySelector(".jsListView").innerHTML = html;

                            // Удаляем "active" у всех
                            document.querySelectorAll(".item-status").forEach(btn => {
                                if (btn.textContent.includes(state)) {
                                    btn.classList.add("active");
                                } else {
                                    btn.classList.remove("active");
                                }
                            });






                        });
                }
            </script>

        </div>
        <div class="messages-section">
            <button class="messages-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="15" y1="9" x2="9" y2="15"></line>
                    <line x1="9" y1="9" x2="15" y2="15"></line>
                </svg>
            </button>
            <div class="projects-section-header">
                <p>Типовые проблемы</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-1" style="width: 35px;">
                    <path d="M11.25 4.533A9.707 9.707 0 0 0 6 3a9.735 9.735 0 0 0-3.25.555.75.75 0 0 0-.5.707v14.25a.75.75 0 0 0 1 .707A8.237 8.237 0 0 1 6 18.75c1.995 0 3.823.707 5.25 1.886V4.533ZM12.75 20.636A8.214 8.214 0 0 1 18 18.75c.966 0 1.89.166 2.75.47a.75.75 0 0 0 1-.708V4.262a.75.75 0 0 0-.5-.707A9.735 9.735 0 0 0 18 3a9.707 9.707 0 0 0-5.25 1.533v16.103Z"></path>
                </svg>

            </div>
            <div class="messages">
                <a class="message-box">

                    <div class="message-content">
                        <div class="message-header">
                            <div class="name">Сервис VPN - проблема с доступностью на провайдере МГТС(МТС) </div>

                        </div>
                    </div>
                </a>
                <a class="message-box">

                    <div class="message-content">
                        <div class="message-header">
                            <div class="name">Сервис VPN - проблема с доступностью на провайдере МГТС(МТС) </div>

                        </div>
                    </div>
                </a>
                <a class="message-box">

                    <div class="message-content">
                        <div class="message-header">
                            <div class="name">Сервис VPN - проблема с доступностью на провайдере МГТС(МТС) </div>

                        </div>
                    </div>
                </a>
                <a class="message-box">

                    <div class="message-content">
                        <div class="message-header">
                            <div class="name">Сервис VPN - проблема с доступностью на провайдере МГТС(МТС) </div>

                        </div>
                    </div>
                </a>
                <a class="message-box">

                    <div class="message-content">
                        <div class="message-header">
                            <div class="name">Сервис VPN - проблема с доступностью на провайдере МГТС(МТС) </div>

                        </div>
                    </div>
                </a>
                <a class="message-box">

                    <div class="message-content">
                        <div class="message-header">
                            <div class="name">Сервис VPN - проблема с доступностью на провайдере МГТС(МТС) </div>

                        </div>
                    </div>
                </a>





                <div></div>
            </div>


        </div>
    </div>
</div>


<!-- Подключение JavaScript -->
<script src="{% static 'app/js/index_script.js' %}"></script>

